@if (User.Identity.IsAuthenticated)
{
    <li >
        @*Get user by name*@
        @*@Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        <a class="nav-link" href="">@User.Identity.Name</a>
    </li>
    <li>
        <a class="nav-link" href="@Url.Action("LogOut", "Account")">Вийти</a>
    </li>
}
else
{
    <li>
        <a class="nav-link" href="@Url.Action("Login", "Account")">Увійти</a>
    </li>
    <li>
        <a class="nav-link" href="@Url.Action("Register", "Account")">Зареєструватися</a>
    </li>
}


