@using EuluBlueMarket.Models
@model MarketItem
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document + @ViewBag.Yes1 + @ViewBag.Yes2 </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: green;
        }

        h1 {
            background-color: RGB(249, 201, 16);
        }

        p {
            background-color: maroon;
            color: white;
        }

        .peep {
            width: 900px;
            height: 70px;
            margin-top: 10px;
            background-color: yellow;
        }

        .peep2 {
            width: 900px;
            height: 140px;
            margin-top: 10px;
            background-color: darksalmon;
        }

        .peep3 {
            width: 900px;
            height: 200px;
            margin-top: 10px;
            background-color: peru;
        }
    </style>
</head>

@*<body>

        <div style="padding: 30px;width: 1000px; margin: auto;">
            <div class="peep">


                @Html.EditorFor(x => x.Name)

            </div>
            <div class="peep2">
                @Html.EditorFor(x => x.Description)
            </div>
            <div class="peep3">
                @using (Html.BeginForm("Upload", "Market", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="upload" /><br>
                    <input type="submit" value="Confirm" />
                }
            </div>
        </div>
    </body>*@

<body>

    <form>
        <div style="padding: 30px;width: 1000px; margin: auto;">
            <div class="form-group">
                @if (Model != null)
                {
                    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" value="@Model.Name">
                }
                else
                {
                    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" value="">
                }
                @*@Html.Editor(Model.Name, Model.Name, new { @class = "form-control form-control-lg" })*@
            </div>
            <div class="form-group">
                <label></label>
                @if (Model != null)
                {
                    <textarea class="form-control"  rows="3" value="@Model.Name"></textarea>

                }
                else
                {
                    <textarea class="form-control"  rows="3" value=""></textarea>
                }
            </div>
            <div class="peep3">

                <input type="file" name="upload" /><br>
            </div>
            <input type="submit" value="Add Lot" />
        </div>
    </form>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
@*@using (Html.BeginForm("Upload", "Market", FormMethod.Post, new { enctype = "multipart/form-data" }))

    <input type="file" name="upload" /><br>
    <input type="submit" value="Confirm" />
        }*@