@using EuluBlueMarket.Models
@model MarketItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Eulu-Interchange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("Main", "Market")">Обміняти</a>
                </li>
                @{
                    Html.RenderPartial("_PartialLoginView");
                }
            </ul>
        </div>
    </nav>
    <div style="padding:15%; margin:auto;">
        @using (Html.BeginForm("AddLot", "Market", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input class="form-control form-control-lg" type="text" name="Name" placeholder="Ім'я товару"><br>
            <input class="form-control form-control-lg" type="text" name="Description" placeholder="Опис"><br>
            <input class="form-control form-control-lg" type="text" name="Price" placeholder="Ціна"><br>

            <input type="file" name="upload" /><br>

            <input type="submit" value="Загрузить" />
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
