 @using EuluBlueMarket.Models 
@model RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2 style="margin-top:40px; margin-left: 15%; margin-right: auto;">Registration Qwerty_1234</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="padding-left:40px; margin-left: 15%; margin-right: auto;">
        <hr />
        @Html.ValidationSummary(false)

        <div>
            First Name
            <div>
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>

        <div>
            Second Name
            <div>
                @Html.EditorFor(model => model.SecondName)
            </div>
        </div>

        <div>
            Phone
            <div>
                @Html.EditorFor(model => model.Phone)
            </div>
        </div>

        <div>
            E-mail
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm Password
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
                <br />
                <input type="submit" value="Register" />
            </div>
        </div>
    </div>
}